<div class="row">
    <div class="col-6">
        <div class="row">
            <div class="col-6">
                    <img src="{{pet.image}}" width="100%">
            </div>
            <div class="col-6">
                <h1>{{pet.name}}</h1>
                <p>Category: {{pet.category}}</p>
                <p>Sex: {{pet.sex == "m" ? "Male" : "Female"}}</p>
                <p>Size: {{pet.size_kg}} kg</p>
            </div>
        </div>
        <div class="row">
            {{pet.story}}
        </div>
    </div>
    <div class="col-6">
        <div class="text-center">
            <h3>Adopt</h3>
            <form>
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" name="name" placeholder="Enter your name" [(ngModel)]="adoption.name">
                </div>
                <div class="form-group">
                    <label for="contact">Contact</label>
                    <input type="text" class="form-control" id="contact" name="contact" placeholder="Enter your contact info(email/phone)" [(ngModel)]="adoption.contact">
                </div>
                <button type="submit" class="btn btn-primary float-right" (click)="submitRequest()">Submit request</button>
            </form>
        </div>
    </div>
</div>
